# Optional dashboard settings (copy to frontend/.env). No keys are needed.
# Basemaps per theme (defaults: Esri Dark Gray / Light Gray Canvas). Use "none" to disable.
# VITE_BASEMAP_URL=https://services.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Dark_Gray_Base/MapServer/tile/{z}/{y}/{x}
# VITE_BASEMAP_LABELS_URL=https://services.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Dark_Gray_Reference/MapServer/tile/{z}/{y}/{x}
# VITE_BASEMAP_LIGHT_URL=https://services.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/{z}/{y}/{x}
# VITE_BASEMAP_LIGHT_LABELS_URL=https://services.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Reference/MapServer/tile/{z}/{y}/{x}
# VITE_BASEMAP_ATTRIBUTION=Esri, HERE, Garmin, © OpenStreetMap contributors
# Backend location for production builds (dev server proxies /api automatically).
# VITE_API_BASE=
