node_modules/
.env

# ==============================
# ML / Dataset files
# ==============================
*.h5
*.hdf
*.hdf5
*.tif
*.tiff
*.nc
*.zip
*.tar
*.gz

data/GroundWaterDataset/
data/NASA_VIIRS_Nighttime_Lights/
data/ndvi
!client/data/